<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#007FFF" />
  </head>
  <body>
    <div class="header">
      <span class="sitetitle">Huseyin78112</span>
    </div>
    <div class="container">
      {{ content }}
    </div>
    <div class="footer">
      Telif Hakkı &copy; 2026 Huseyin78112. Tüm hakları saklıdır. İçerik CC-BY-SA 4.0 lisansı altında kullanılabilir.
    </div>
  </body>
</html>
